python 3.9.11
conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0
python -m pip install "tensorflow<2.11"
python -c "import tensorflow as tf; print(tf.config.list_physical_devices('GPU'))"

%pip install opencv-python
%pip install Pillow
%pip install matplotlib
%pip uninstall numpy
%pip install numpy==1.*
%pip install scikit-learn==0.24.2